{% extends "main.html"%}


{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="home-container">
    <div>
        <h3>Browse Topic</h3>
        <hr />
        {% include 'new_app/topic_list.html' %}
    </div>
    <div>
        <span>Total number of result is {{rooms_count}}</span>
        <a href="{% url 'create' %}"><h3>Create a New</h3></a>
        <div>        
            {% include 'new_app/room_list.html' %}
        </div>
    </div>    
    <div>
        Recent Activity
        <hr />
    </div>
</div>

{% endblock %}