{% extends "main.html"%}


{% block content %}

<div>
    <h2>{{room.name}}</h2>
    {% if user.is_authenticated %}
    <a href="{% url 'update' room.id %}">Edit</a>
    <a href="{% url 'delete' room.id %}">Delete</a>
    <hr />
    {% endif %}
    <h4>Conversation</h4>
    <hr />
    {% for comment in comments %}
    <p>
        <small><b>{{comment.user}}</b> {{comment.created_on|timesince}} ago</small><br /> 
        {{comment.comment}}
    </p>
    {% endfor %}

    {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'room' room.id %}">
        {% csrf_token %}
        <input type="text" placeholder="Add a comment..." name="comment" />
    </form>
    {% endif %}

</div>

{% endblock %}