{% extends "main.html"%}


{% block content %}

<style>
    .room-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="room-container">
    <div>
        <h2>{{room.name}}</h2>
        <p>{{room.description}}</p>
        {% if request.user == room.user %}
        <small>
            <a href="{% url 'update' room.id %}">Edit</a>
            <a href="{% url 'delete' room.id %}">Delete</a>
        </small>
        <hr />
        {% endif %}
        <h2>Conversation</h2>
        <hr />
        {% for comment in comments %}
        <p>
            <small><b>{{comment.user}}</b> {{comment.created_on|timesince}} ago</small><br /> 
            {{comment.comment}}<br /> 
            {% if request.user == comment.user %}
            <a href="{% url 'delete-comment' comment.id%}"><small>delete</small></a>
            <a href="/"><small>edit</small></a>
            {% endif %}
        </p>
        {% endfor %}

        {% if request.user.is_authenticated %}
        <form method="post" action="{% url 'room' room.id %}">
            {% csrf_token %}
            <input type="text" placeholder="Add a comment..." name="comment" />
        </form>
        {% endif %}
    </div>

    <div>
        <h2>Participants</h2>
        <hr />
        {% for participant in participants %}
        <p>{{participant}}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}